pinecone_api_key = <YOUR_PINECONE_KEY> 
hf_api_key = <YOUR_HF_KEY>
OPENAI_API_KEY = <YOUR_OPENAI_KEY>

export LANGSMITH_TRACING=<true_or_false>
export LANGSMITH_ENDPOINT=<your_langsmith_endpoint>
export LANGSMITH_API_KEY=<your_langsmith_api_key>
export LANGSMITH_PROJECT=<your_langsmith_project_name>