PINECONE_API_KEY = ""
# DPO_CHECKPOINT=./checkpoints/dpo_checkpoint
EMOTION_MODEL= "checkpoints\best_model_albert.pth"
TRANSLATOR_MODEL= "checkpoints\many_to_one_translator"
# LANGUAGE_MODEL=./checkpoints/language_model
GROQ_API_KEY = ""
DENSE_ENCODER = "checkpoints\dense_encoder_model"
SPARSE_ENCODER = "checkpoints\sparse_encoder_model.json"
CROSS_ENCODER = "checkpoints\cross_encoder_model"
